extends layout

block content
    h1= title
    a(href='../').backbtn Back
    br
    script.
        $(document).ready(() => {
            $('#filter').on('input', () => {
                $(".entry").hide();
                $(".entry").filter((index, item) => item.textContent.toLowerCase().trim().includes($('#filter').val().toLowerCase())).show();
            });
        });
    input(type='text' id='filter' name='filter' placeholder='Filter results')
    table#items
        each title in titles
            tr.entry
                -if (title.isDirectory())
                    td.icon
                        img(src='/images/folder-black-18dp.svg')
                    td.folder 
                        a(href=(title.name+'/')) #{title.name}
                -else
                    td.icon 
                        img(src='/images/description-black-18dp.svg')
                    td.file
                        a(href=title.name) #{title.name}


block footer
    .footer
        a(href='#' onclick='signout()') Sign out
        script.
            function signout() {
                document.cookie = "loggedin= ; expires = Thu, 01 Jan 1970 00:00:00 GMT ; path=/;";
                window.location.href = '/';
            }