extends layout

block content
    h1= title
    a(href='../').backbtn Back
    table
        each title in titles
            tr
                -if (title.isDirectory())
                    td.icon 🗀
                    td.folder 
                        a(href=(title.name+'/')) #{title.name}
                -else
                    td.icon 🗎
                    td.file
                        a(href=title.name) #{title.name}


block footer
    .footer
        a(href='#' onclick='signout()') Sign out
        script.
            function signout() {
                document.cookie = "loggedin= ; expires = Thu, 01 Jan 1970 00:00:00 GMT ; path=/;";
                window.location.href = '/';
            }